.pageGrid {
  background-color: var(--dark2);
  display: grid;
  width: 100%;
  max-width: 100rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
  grid-auto-flow: row dense;
  grid-template-areas: "video recommended"
                       "info recommended";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: flex-start;
}

.theaterMode {
  grid-template-areas: "video video"
                       "info recommended";

  padding: 0;
}

@media only screen and (max-width: 1023px) {
  .pageGrid {
    grid-template-areas: "video video"
                         "info recommended";

    padding: 0;
  }
}