.selectSpeed {
  background-color: transparent;
  color: #fff;
  width: auto;
  border-radius: .4rem;
  border:1px solid rgba(0,0,0, .01);
  cursor: pointer;
}

.selectSpeed > option {
  background-color: rgba(0,0,0, .8);
}