.recommended {
  grid-area: recommended;
  background-color: var(--color3);
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selectedVideos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.theaterMode {
  margin-right: var(--theaterMargin);
}

@media only screen and (max-width: 1024px) {
  .recommended {
    width: 18rem;
  }
}

@media only screen and (max-width: 768px) {
  .recommended {
    margin-right: 1rem;
  } 
}

@media only screen and (max-width: 650px) {
  .recommended {
    margin: 0 1rem;
    width: auto;
  }
}