.recommended {
  grid-area: recommended;
  background-color: var(--color4);
  width: 22rem;
}

.theaterMode {
  margin-right: var(--theaterMargin);
}

@media only screen and (max-width: 1024px) {
  .recommended {
    width: 18rem;
  }
}

/* @media only screen and (max-width: 768px) {} */
/* @media only screen and (max-width: 320px) {} */