.videoInfo {
  grid-area: info;
  display: flex;
  font-size: 1.2rem;
}

.theaterMode {
  width: calc(100% - var(--theaterMargin));
  margin-left: var(--theaterMargin);
}

@media only screen and (max-width: 1024px) {
  .videoInfo {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .videoInfo {
    margin-left: 1rem;
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  .videoInfo {
    margin: 0 1rem;
    font-size: 1rem;
  }
}