:root {
  --color1: #002333;
  --color2: #159A9C;
  --color3: #687CC1;
  --color4: #B4BEC9;
  --color5: #DEEFE7;
  --color6: #FFFFFF;

  --dark1: #0f0f0f;
  --dark2: #202020;
  --dark3: #202225;
  --dark4: #282B30;
  --dark5: #36393F;

  --spacing: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color6);
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--dark1);
  font-family: 'Helvetica', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
